<div class="content-wrap">
    <div class="header d-flex flex-justify-between p-2 hide-lg hide-xl" aria-label="top navigation">
        <button id="toggle" aria-label="Toggle menu" class="btn-octicon p-2 m-0 text-white" type="button">
            <i class="fa fa-bars"></i>
        </button>
        <div class="title flex-1 d-flex flex-justify-center">
            <a class="h4 no-underline py-1 px-2 rounded-1" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
    </div>
    <div class="content p-3 p-sm-5">
        {% include templates/breadcrumbs.liquid %}
        <hr>
        <div role="main" itemscope="itemscope" itemtype="https://schema.org/Article">
            <div class="markdown-body" itemprop="articleBody">
                {{ content }}
            </div>
        </div>
        {% include templates/footer.liquid %}
    </div>
    <div>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
    <span id="busuanzi_container_page_pv">本文总访问量<span id="busuanzi_page_site_pv"></span>次</span>
    <span id="busuanzi_container_site_uv">本站总访客<span id="busuanzi_value_site_uv"></span>次</span>
    </div>
</div>
